.GameListPageCard__Container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 0 24px 24px 24px;
    padding: 25px 32px 25px 178px;

    background: #1E2131;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.048432);
    border-radius: 16px;
    display: flex;
}

.GameListPageCard__Components .PageCard__Component {
    width: calc(100%/5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.CheckoutPageCard__Components .PageCard__Component {
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.GameListPageCard__Components {
    display: flex;
    width: 100%;
}
